<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>"><i class="fa-solid fa-house"></i> NF S</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= api_v1_restaurants_path %>"><i class="fa-solid fa-gears"></i> API Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= api_v1_devices_path %>"><i class="fa-solid fa-gears"></i> API Dispositivos</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fa-solid fa-user"></i> Inicia sesión</a>
        </li>
      </ul>
  </div>
</nav>